<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a user</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>

    <div class="form-add-new">
        <form action="/create-user" method="POST">
            <fieldset>
                <legend>Add users</legend>
            
            <div class="input-group">
                <label>Email:</label>
                <input type="text" id="emailID" name="email">
            </div>
            <div class="input-group">
                <label>Name:</label>
                <input type="text" id="nameID" name="myname">
            </div>
            <div class="input-group">
                <label>City:</label>
                <input type="text" id="cityID" name="city">
            </div>
            <div>
                <button>Save</button>
            </div>
            </fieldset>
        </form>
        
    </div>

   
</body>
</html>